.introduçao-bg {
    background: var(--cor-12);
    
    box-shadow: inset 0 -20px var(--cor-0) ;
}

.introduçao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
   
}

.introduçao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}



.introduçao img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;

}

.introduçao h1{
    margin-bottom: 32px;

}

.introduçao h1 span{
    color: var(--cor-p1);
}

.introduçao p {
    margin-bottom: 20px;
  
    
}



@media (max-width: 1200px) {
    .introduçao h1 {
        font-size: 48px;
    }
    .introduçao p {
        font-size: 18px;
    }
}

@media (max-width: 800px) {

    .introduçao-bg {
        background:var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -68px var(--cor-0);
    }
    .introduçao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introduçao-conteudo {
        padding-bottom: 0px;
    }
    .introduçao h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introduçao img {
        height: 300px;
        width: 100%;
    }
}


@media (max-width: 600px) {
    .introduçao a {
        padding: 12px 16px;
        font-size: 16px;
    }
} 
    



@media (max-width: 800px) {

    .introduçao-bg{
        background: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -68px var(--cor-0);
    }

    .introduçao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introduçao-conteudo{
        padding-bottom: 0px;
    }

    .introduçao h1 {    
        margin-bottom: 32px;       
    }
    .introduçao img{
        height: 300px;
        width: 100%;
    }
}